.cart-page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cart-item {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .cart-item img {
    width: 100px;
    margin-right: 1rem;
  }
  
  .cart-item-content {
    display: flex;
    flex-direction: column;
  }
  
  .cart-item-content h3,
  .cart-item-content p,
  .cart-item-content label,
  .cart-item-content input {
    margin-bottom: 0.5rem;
  }
.remove-button{
    background-color: #2709cf;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s;
} 
.remove-button:hover{
    background-color: #ff0000;
} 
.checkout-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  margin-right: 40px;
}

.checkout-container button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.checkout-container button:hover {
  background-color: #45a049;
}

.checkout-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.checkout-container button:disabled:hover {
  background-color: #ccc;
}

.total-price {
  font-size: 18px;
  margin-top: 10px;
}

.clear-button {
  margin-top: 10px;
  padding: 10px 20px;
  background-color: red;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

.clear-button:hover {
  background-color: #ff0000;
}
div.checkout-container {
  display: flex;
  justify-content:space-around;
  margin-top: 20px;
  margin-right: 40px;
}
#checkoutButton {
  margin-top: 20px;
  align-self: flex-end;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 20px;
}

#checkoutButton:hover {
  background-color: #45a049;
}